/* Styling code that overwrite bootstrap */
.weather-box {
    display: none;
}
.uv0-2 {
    background: linear-gradient(90deg,green,rgb(229, 255, 0));
    list-style: bengali;
    padding-bottom: 3%;
}
.uv3-5 {
    background: linear-gradient(90deg,yellow, rgb(255, 187, 0));
    list-style: bengali;
    padding-bottom: 3%;
}
.uv6-7 {
    background: linear-gradient(90deg, orange, rgb(255, 72, 0));
    list-style: bengali;
    padding-bottom: 3%;
}
.uv8-10 {
    background: linear-gradient(90deg, red, rgb(139, 3, 94));
    list-style: bengali;
    padding-bottom: 3%;
}
.uv11up {
    background: linear-gradient(90deg,purple, rgb(51, 1, 51) );
    list-style: bengali;
    padding-bottom: 3%;
}
section {
    display: flex;
}
.card {
    flex: 1 .5;
    margin-left: auto;
    margin-right: auto;
}
main {
    display: flex;
    background: linear-gradient(180deg,rgba(231, 94, 3, 0.829),rgba(255, 123, 0, 0.801),rgba(255, 166, 0, 0.479),rgba(255, 255, 0, 0.479));
}
.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100px;
}
.bg-light {
    background-color: #fa6429!important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: x-large;
    font-family: fangsong;
    padding-left: 10%;
}
/* Main style file is Bootstrap */