
.weather-box {
    display: none;
}
.float-right {
    float: right;
}
.uv0-2 {
    background: linear-gradient(90deg,green,rgb(229, 255, 0));
}
.uv3-5 {
    background: linear-gradient(90deg,yellow, rgb(255, 187, 0));
}
.uv6-7 {
    background: linear-gradient(90deg, orange, rgb(255, 72, 0));
}
.uv8-10 {
    background: linear-gradient(90deg, red, rgb(139, 3, 94));
}
.uv11up {
    background: linear-gradient(90deg,purple, rgb(51, 1, 51) );
}